@use "/styles/0-settings/colors";
@use "/styles/0-settings/sizes";
@use "/styles/0-settings/fonts";
@use "/styles/0-settings/breakpoints";
@use "/styles/0-settings/grid";


.login {
    display: inline-flex;
    align-items: center;
    background-color: colors.$gray-100;
    padding: sizes.$size-50 sizes.$size-150;
    border-radius: sizes.$size-50;

    :focus {
        outline: none;
    }

    :hover {
        background-color: colors.$gray-200;
    }
}