@use "/styles/0-settings/colors";
@use "/styles/0-settings/sizes";
@use "/styles/0-settings/fonts";

.cardSimple {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: colors.$white;
    height: sizes.$size-2600;
    padding: sizes.$size-200;

    &:hover {
        background-color: colors.$gray-400;
    }
}

.cardSimpleDescription {
    font-size: fonts.$font-size-300;
    max-width: sizes.$size-4600;
}