$duration-0: 0ms;
$duration-100: 130ms;
$duration-200: 160ms;
$duration-300: 190ms;
$duration-400: 220ms;
$duration-500: 250ms;
$duration-600: 300ms;
$duration-700: 350ms;
$duration-800: 400ms;
$duration-900: 450ms;
$duration-1000: 500ms;
$duration-2000: 1000ms;
$duration-4000: 2000ms;
$ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
$ease-in: cubic-bezier(0.5, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.4, 1);
$linear: cubic-bezier(0, 0, 1, 1);