$black: rgb(13, 13, 13);
$white: rgb(255, 255, 255);
$blue: rgb(20, 115, 230);
$gray-50: rgb(255, 255, 255);
$gray-75: rgb(255, 255, 255);
$gray-100: rgb(255, 255, 255);
$gray-200: rgb(244, 244, 244);
$gray-300: rgb(234, 234, 234);
$gray-400: rgb(211, 211, 211);
$gray-500: rgb(188, 188, 188);
$gray-600: rgb(149, 149, 149);
$gray-700: rgb(116, 116, 116);
$gray-800: rgb(80, 80, 80);
$gray-900: rgb(50, 50, 50);
$blue-200: rgb(90, 169, 250);
$blue-300: rgb(75, 156, 245);
$blue-400: rgb(55, 142, 240);
$blue-500: rgb(38, 128, 235);
$blue-600: rgb(20, 115, 230);
$blue-700: rgb(13, 102, 208);
$blue-800: rgb(9, 90, 186);
$red-400: rgb(236, 91, 98);
$red-500: rgb(227, 72, 80);
$red-600: rgb(215, 55, 63);
$red-700: rgb(201, 37, 45);
$orange-400: rgb(242, 148, 35);
$orange-500: rgb(230, 134, 25);
$orange-600: rgb(218, 123, 17);
$orange-700: rgb(203, 111, 16);
$green-400: rgb(51, 171, 132);
$green-500: rgb(45, 157, 120);
$green-600: rgb(38, 142, 108);
$green-700: rgb(18, 128, 92);
$celery-200: rgb(88, 224, 111);
$celery-300: rgb(81, 210, 103);
$celery-400: rgb(75, 195, 95);
$celery-500: rgb(68, 181, 86);
$celery-600: rgb(61, 167, 78);
$celery-700: rgb(55, 153, 71);
$chartreuse-300: rgb(155, 236, 84);
$chartreuse-400: rgb(142, 222, 73);
$chartreuse-500: rgb(133, 208, 68);
$chartreuse-600: rgb(124, 195, 63);
$chartreuse-700: rgb(115, 181, 58);
$yellow-200: rgb(255, 226, 46);
$yellow-300: rgb(250, 217, 0);
$yellow-400: rgb(237, 204, 0);
$yellow-500: rgb(223, 191, 0);
$yellow-600: rgb(210, 178, 0);
$yellow-700: rgb(196, 166, 0);
$magenta-200: rgb(245, 107, 183);
$magenta-300: rgb(236, 90, 170);
$magenta-400: rgb(226, 73, 157);
$magenta-500: rgb(216, 55, 144);
$magenta-600: rgb(202, 41, 130);
$magenta-700: rgb(188, 28, 116);
$fuchsia-400: rgb(207, 62, 220);
$fuchsia-500: rgb(192, 56, 204);
$fuchsia-600: rgb(177, 48, 189);
$fuchsia-700: rgb(162, 40, 173);
$purple-400: rgb(157, 100, 225);
$purple-500: rgb(146, 86, 217);
$purple-600: rgb(134, 76, 204);
$purple-700: rgb(122, 66, 191);
$purple-800: rgb(111, 56, 177);
$indigo-200: rgb(144, 144, 250);
$indigo-300: rgb(130, 130, 246);
$indigo-400: rgb(117, 117, 241);
$indigo-500: rgb(103, 103, 236);
$indigo-600: rgb(92, 92, 224);
$indigo-700: rgb(81, 81, 211);
$seafoam-200: rgb(38, 192, 199);
$seafoam-300: rgb(35, 178, 184);
$seafoam-400: rgb(32, 163, 168);
$seafoam-500: rgb(27, 149, 154);
$seafoam-600: rgb(22, 135, 140);
$seafoam-700: rgb(15, 121, 125);


$opacity-100: 1;
$opacity-90: 0.9;
$opacity-80: 0.8;
$opacity-60: 0.6;
$opacity-50: 0.5;
$opacity-42: 0.42;
$opacity-40: 0.4;
$opacity-30: 0.3;
$opacity-25: 0.25;
$opacity-20: 0.2;
$opacity-15: 0.15;
$opacity-10: 0.1;
$opacity-8: 0.08;
$opacity-7: 0.07;
$opacity-6: 0.06;
$opacity-5: 0.05;
$opacity-4: 0.04;


$negative-color-background: $red-700;
$negative-color-default: $red-500;
$negative-color-state-hover: $red-600;
$negative-color-dark: $red-600;
$negative-color-border: $red-400;
$negative-color-icon: $red-600;
$negative-color-status: $red-400;
$negative-color-text-large: $red-500;
$negative-color-text-small: $red-600;
$negative-color-state-down: $red-700;
$negative-color-state-focus: $red-400;
$notice-color-background: $orange-700;
$notice-color-default: $orange-500;
$notice-color-dark: $orange-600;
$notice-color-border: $orange-400;
$notice-color-icon: $orange-600;
$notice-color-status: $orange-400;
$notice-color-text-large: $orange-500;
$notice-color-text-small: $orange-600;
$notice-color-state-down: $orange-700;
$notice-color-state-focus: $orange-400;
$positive-color-background: $green-700;
$positive-color-default: $green-500;
$positive-color-dark: $green-600;
$positive-color-border: $green-400;
$positive-color-icon: $green-600;
$positive-color-status: $green-400;
$positive-color-text-large: $green-500;
$positive-color-text-small: $green-600;
$positive-color-state-down: $green-700;
$positive-color-state-focus: $green-400;
$informative-color-background: $blue-700;
$informative-color-default: $blue-500;
$informative-color-dark: $blue-600;
$informative-color-border: $blue-400;
$informative-color-icon: $blue-600;
$informative-color-status: $blue-400;
$informative-color-text-large: $blue-500;
$informative-color-text-small: $blue-600;
$informative-color-state-down: $blue-700;
$informative-color-state-focus: $blue-400;
$cta-color-background-default: $blue-600;
$cta-color-background-hover: $blue-700;
$cta-color-background-down: $blue-800;
$cta-color-background-key-focus: $blue-600;
$background-color-key-focus: $blue-600;
$neutral-color-background: $gray-700;
$presence-color-1: $red-500;
$presence-color-2: $orange-400;
$presence-color-3: $yellow-400;
$presence-color-4: rgb(75, 204, 162);
$presence-color-5: rgb(0, 199, 255);
$presence-color-6: rgb(0, 140, 184);
$presence-color-7: rgb(126, 75, 243);
$presence-color-8: $fuchsia-600;