@use  './sizes' as *;

$grid-columns: 16;
$grid-fluid-width: 100%;
$grid-fixed-max-width: 1920px;
$baseline: $size-100;
$gutter-xsmall: $size-100; //8
$gutter-small: $size-100;
$gutter-medium: $size-300; //24
$gutter-large: $size-300;
$gutter-xlarge: $size-300;
$gutter-2xlarge: $size-400; //32
$gutter-3xlarge: $size-400;
$gutter-4xlarge: $size-400;
$padding-xsmall: $size-200; //16
$padding-small: $size-400; //32
$padding-medium: $size-300;//24
$padding-large: $size-400;//32
$padding-xlarge: $size-600;
$padding-2xlarge: $size-0;//0
$padding-3xlarge: $size-0;
$padding-4xlarge: $size-0;
$margin-xsmall: $size-200;
$margin-small: $size-300;
$margin-medium: $size-400;
$margin-large: $size-500;
$margin-xlarge: $size-600;
$margin-2xlarge: $size-600;
$margin-3xlarge: $size-600;
$margin-4xlarge: $size-600;
$layout-region-margin-bottom-xsmall: $size-200;
$layout-region-margin-bottom-small: $size-300;
$layout-region-margin-bottom-medium: $size-400;
$layout-region-margin-bottom-large: $size-500;
$layout-region-margin-bottom-xlarge: $size-600;
$layout-region-margin-bottom-2xlarge: $size-600;
$layout-region-margin-bottom-3xlarge: $size-600;
$layout-region-margin-bottom-4xlarge: $size-600;