$size-0: 0px;
$size-10: 1px;
$size-25: 2px;
$size-50: 4px;
$size-40: 3px;
$size-65: 5px;
$size-100: 8px;
$size-115: 9px;
$size-125: 10px;
$size-130: 11px;
$size-150: 12px;
$size-160: 13px;
$size-175: 14px;
$size-200: 16px;
$size-225: 18px;
$size-250: 20px;
$size-300: 24px;
$size-400: 32px;
$size-450: 36px;
$size-500: 40px;
$size-550: 44px;
$size-600: 48px;
$size-700: 56px;
$size-800: 64px;
$size-900: 72px;
$size-1000: 80px;
$size-1200: 96px;
$size-1700: 136px;
$size-1800: 144px;
$size-2400: 192px;
$size-2600: 208px;
$size-3400: 272px;
$size-3600: 288px;
$size-4600: 368px;
$size-5000: 400px;
$size-6000: 480px;