@use './colors'as *;
@use './sizes'as *;

$background-color-default: $gray-100;
$background-color-transparent: transparent;
$background-color-label-gray: rgb(112, 112, 112);
$background-color-quickactions-overlay: rgba(0, 0, 0, 0.2);
$placeholder-text-color: $gray-600;
$placeholder-text-color-hover: $gray-900;
$placeholder-text-color-down: $gray-900;
$placeholder-text-color-selected: $gray-800;
$label-text-color: $gray-700;
$text-color: $gray-800;
$text-color-hover: $gray-900;
$text-color-down: $gray-900;
$text-color-key-focus: $blue-600;
$text-color-mouse-focus: $blue-600;
$text-color-disabled: $gray-500;
$text-color-invalid: $red-500;
$text-color-selected: $blue-600;
$text-color-selected-neutral: $gray-900;
$title-text-color: $gray-900;
$heading-text-color: $gray-900;
$border-color: $gray-400;
$border-color-hover: $gray-500;
$border-color-down: $gray-500;
$border-color-focus: $blue-400;
$border-color-mouse-focus: $blue-500;
$border-color-disabled: $gray-200;
$border-color-extralight: $gray-100;
$border-color-light: $gray-200;
$border-color-mid: $gray-300;
$border-color-dark: $gray-400;
$border-color-transparent: transparent;
$border-color-translucent-dark: rgba(0, 0, 0, 0.05);
$border-color-translucent-darker: rgba(0, 0, 0, 0.1);
$focus-color: $blue-400;
$focus-ring-color: $focus-color;
$track-color-default: $gray-300;
$track-color-disabled: $gray-300;
$track-color-over-background: rgba(255, 255, 255, 0.2);
$icon-color: $gray-700;
$icon-color-over-background: $white;
$icon-color-hover: $gray-900;
$icon-color-down: $gray-900;
$icon-color-focus: $gray-900;
$icon-color-disabled: $gray-400;
$icon-color-selected-neutral: $gray-900;
$icon-color-selected: $blue-500;
$icon-color-selected-hover: $blue-600;
$icon-color-selected-down: $blue-700;
$icon-color-selected-focus: $blue-600;
$icon-color-error: $red-400;
$toolbar-background-color: $gray-100;
$colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
$categorical-color-1: $seafoam-200;
$categorical-color-2: $indigo-700;
$categorical-color-3: $orange-500;
$categorical-color-4: $magenta-500;
$categorical-color-5: $indigo-200;
$categorical-color-6: $celery-200;
$categorical-color-7: $blue-500;
$categorical-color-8: $purple-800;
$categorical-color-9: $yellow-500;
$categorical-color-10: $orange-700;
$categorical-color-11: $green-600;
$categorical-color-12: $chartreuse-300;
$categorical-color-13: $blue-200;
$categorical-color-14: $fuchsia-500;
$categorical-color-15: $magenta-200;
$categorical-color-16: $yellow-200;

$border-size-thin: $size-10;
$border-size-thick: $size-25;
$border-size-thicker: $size-50;
$border-size-thickest: $size-100;
$border-offset-thin: $size-25;
$border-offset-thick: $size-50;
$border-offset-thicker: $size-100;
$border-offset-thickest: $size-200;

$dropshadow-blur: $size-50;
$dropshadow-offset-y: $size-10;