@use "/styles/0-settings/colors";
@use "/styles/0-settings/sizes";

.sideNav {
    grid-column: 1 / 3;
    border-color: colors.$gray-700;
    border-right: sizes.$size-10 solid;
    background-color: colors.$gray-200;
    margin-left: -32px;
    padding-left: 32px;
    padding-top: 16px;
}

.sideNavList {
    display: flex;
    flex-direction: column;
    gap: 0 sizes.$size-100;
    font-size: 1rem;
    font-weight: 500;
    row-gap: .25rem;
}