@use "/styles/0-settings/colors";

.form-input {
    z-index: 20;
    padding: 4px 8px;
    border: 1px colors.$gray-400;

    :hover {
        border-color: colors.$gray-600;
    }

    :focus {
        outline-color: colors.$blue-600;
        box-shadow: 0 4px 6px -1px;

    }
}